.logo img {
    width: auto;
    height: 100px;
    position: relative; 
    transform: translateY(-100px);
    margin-left: 50px;
    
}


@media (max-width: 768px) {
    .logo img {
        height: 80px;
    }
}
