.Card {
    display: flex;
    max-width: 100%;
    height: 45rem;
    border-radius: 0.9375rem;
    overflow: hidden;
    margin: 0 auto;
    gap: 1.875rem;
    padding: 1.5rem;

}



 .Card a {
    text-decoration: none;
}

.Card1,
.Card2,
.Card3,
.Card4 {
    max-width: 100%;
    flex: 3;
    height: 100%;
    transition: flex 0.5s ease;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    margin-right: 0.15625rem;
    border-radius: 5%;

}

.Card1:hover,
.Card2:hover,
.Card3:hover,
.Card4:hover {
    flex: 6;

}





.Card1 p,
.Card2 p,
.Card3 p,
.Card4 p {
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    border-radius: 5%;
    margin-left: 1rem;
    max-width: 90%;
    display: flex;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 0.5rem;
    font-size: medium;

}

img#card1,
img#card2,
img#card3,
img#card4 {
    display: flex;
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.Card1,
.Card2,
.Card3,
.Card4 {
    box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.178);


    
}


.Card button, #editModeBtn {
    background-color: rgb(139, 207, 83);
    border: none;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}


@media (max-width: 1200px) {
    .container {
        display: block;
    }

    .Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        border-radius: 0.9375rem;
        overflow: hidden;
        gap: 1.875rem;
    }

    img#card1,
    img#card2,
    img#card3,
    img#card4 {
        display: block;
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .Card1,
    .Card2,
    .Card3,
    .Card4 {
        transition:none;
        text-align: center;
        margin: 2rem 0;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        height: auto;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        border-radius: 5%;
    }

    .Card button {
        margin-bottom: 2rem;
    }
}

@media (max-width: 992px) {
    .container {
        display: block;
    }

    .Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        border-radius: 0.9375rem;
        overflow: hidden;
        gap: 1.875rem;
    }

    img#card1,
    img#card2,
    img#card3,
    img#card4 {
        display: block;
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .Card1,
    .Card2,
    .Card3,
    .Card4 {
        transition:none;
        text-align: center;
        margin: 2rem 0;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 50%;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        border-radius: 5%;
    }

    .Card button {
        margin-bottom: 2rem;
    }

}



@media (max-width: 768px) {
    .container {
        display: block;
    }

    .Card {
        display: block;
        flex-direction: row;
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        border-radius: 0.9375rem;
        overflow: hidden;


    }

    img#card1,
    img#card2,
    img#card3,
    img#card4 {
        display: block;
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .Card1:hover,
    .Card2:hover,
    .Card3:hover,
    .Card4:hover {
        display: block;

    }

    .Card1,
    .Card2,
    .Card3,
    .Card4 {
        transition:none;
        max-width: 100%;
        height: 10%;
        cursor: pointer;
        background-position: center;
        border-radius: 5%;
        padding-bottom: 0.25rem;
    }



}

@media (max-width: 576px) {

    

    .Card {
        display: block;
        flex-direction: row;
        position: relative;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        border-radius: 0.9375rem;
        overflow: hidden;

    }

    img#card1,
    img#card2,
    img#card3,
    img#card4 {
        display: block;
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .Card1:hover,
    .Card2:hover,
    .Card3:hover,
    .Card4:hover {
        display: block;

    }

    .Card1,
    .Card2,
    .Card3,
    .Card4 {
        transition:none;
        max-width: 100%;
        height: 10%;
        cursor: pointer;
        background-position: center;
        border-radius: 5%;
        padding-bottom: 0.25rem;
    }
}