.efeito {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    position: relative;
    transition: color 0.25s;
  }
  .efeito:hover {
    color: rgb(139, 207, 83);
  }
  
  .efeito::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #fefefe;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
  }
  .efeito:hover::after {
    scale: 1 1;
  }

  .efeitoButton,#editModeBtn {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    position: relative;
    transition: color 0.25s;
  }
  .efeitoButton:hover,#editModeBtn:hover {
    color: rgb(255, 255, 255);
  }
  
  .efeitoButton::after,#editModeBtn::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #fefefe;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
  }
  .efeitoButton:hover::after,#editModeBtn:hover::after {
    scale: 1 1;
  }

  .efeitoRodape {
    padding: 0.5rem 0.75rem;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #000000; 
    position: relative;
    transition: color 0.25s; 
}

.efeitoRodape:hover {
    color: rgb(255, 20, 20);
}

.efeitoRodape::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #fefefe;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

.efeitoRodape:hover::after {
    scale: 1 1;
}

.spinner {
  border: 3px solid #f3f3f3; 
  border-top: 3px solid #4CAF50; 
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin-left: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.efeitoButtonDev {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff56;
  position: relative;
  transition: color 0.25s;
}

.efeitoButtonDev:hover {
  color: rgb(255, 255, 255);
}

.efeitoButtonDev::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fefefe;
  scale: 1 0;
  z-index: -1;
  transition: 0.45s;
  border-radius: 10px;
}

.efeitoButtonDev:hover::after {
  scale: 1 1;
}


.efeitoButtonLoja{
  transition: color 0.25s;
  color: #000000;
  
}

.efeitoButtonLoja:hover {
  color: rgb(255, 255, 255);
  
}

.efeitoButtonLoja::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: #fefefe;
  scale: 1 0;
  z-index: -1;
  transition: 0.45s;
  border-radius: 10px;
}
.efeitoButtonLoja:hover::afterr {
  scale: 1 1;
}