nav {
    max-width: 100%;
    backdrop-filter: blur(1.875rem);
    box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.178);
    display: flex;
    align-items: center;
    border-radius: 1.25rem;
    margin-left: 8rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    height: 6.25rem;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
}

nav a {
    display: flex;
    max-width: 100%;
    color: #000000;
    font-size: large;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 100;
    text-decoration: none;
}

#login {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 3.125rem;
}

button img {
    width: 4.375rem;
    height: 2.875rem;
}

.menu-burguer {
    font-size: 30px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
}

.menu-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    white-space: nowrap;
}

#CelularLogin {
    display: none;
}

.galeria {
    position: relative;
}

.opcoes-galeria {
    position: absolute; 
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 3; 
}

.opcoes-galeria a {
    display: block;
    padding: 10px;
    color: #000;
    font-size: large;
    text-decoration: none;
    transition: background 0.3s;
}

.opcoes-galeria a:hover {
    background: #e0e0e0; 
}


@media (max-width: 1197px) {

    


    .galeria {
        margin-right: auto;
        color: #000;
        font-size: 1rem;
        padding: 10px 0;
        width: 100%;
        text-align: left;
        text-decoration: none;
        z-index: 1000;
        
    }
    .loginicon {
        display: none;
    }

   #CelularLogin{
    display: block;
   }


   
    nav {
        z-index: 1000;
        max-width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        height: 4rem;
        padding: 20px;
        margin: 0;
        top: 2rem;
        margin-left: 9rem;
        margin-right: 3rem;
        backdrop-filter: blur(1.875rem);
        box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.178);
        border-radius: 1.25rem;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 10;
        
    }

    #logo {
        position: absolute;
        top: 3rem;
        left: 10px;
        width: 60px;
        height: auto;
    }

    .menu-links{
        display: none;
        flex-direction: column;
        gap: 2px;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        border-radius: 1rem;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        
        
    }

    

    .menu-links.show {
        display : flex;
        max-width: 100%;
        z-index: 1000;
        
    }


    .menu-burguer {
        display: flex;
        z-index: 1000;
    }

    nav a {
        z-index: 1000;
        color: #000;
        font-size: 1rem;
        padding: 10px 0;
        width: 100%;
        text-align: left;
        text-decoration: none;
        border-bottom: 1px solid #ccc;
    }
}

#loginButton {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

#dashboardText {
    font-weight: bold;
    color: #4CAF50;
    background: #e4e4e4;
    padding: 10px;
    border-radius: 5px;
    display: none;
    transition: all 0.4s;
}

#dashboardText:hover {
    transform: scale(1.1);
}