.titulo h1 {
    font-size: 4rem;
    text-decoration: none;
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-decoration: 2px underline  rgb(139, 207, 83);
}


