.carrossel {
    
    max-width: 90%;
    margin-inline: auto;
    position: relative;
    height: 6.25rem; 
    overflow: hidden;
}

.item {
    width: 12.5rem;
    height: 6.25rem; 
    background-color: black;
    border-radius: 0.375rem; 
    position: absolute;
    left: 100%;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

@keyframes scrollLeft {
    to {
        left: -12.5rem; 
    }
}
 

